@import "tailwindcss";

/* Colores base para tu marca de Aluminios */
:root {
  --background: #ffffff; /* Fondo blanco para las secciones de tarjetas */
  --foreground: #111827; /* Texto casi negro (slate-900) para lectura clara */
}

/* Esto quita el modo oscuro automático que a veces ensucia el diseño */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  margin: 0;
}